<%- include('../partials/header') %> 
<form class="form" method="POST" action="/props/<%= prop._id %>?_method=PUT">
    <label>Title:</label>
    <input name="title" value="<%= prop.title %>">
    <label>Dependencies:</label>
    <input name="dependencies" value="<%= prop.dependencies %>">
    <label>Contents:</label>
    <input name="contents" value="<%= prop.contents %>">
      <button type="submit" class="btn btn-primary">Save</button>
</form>
<%- include('../partials/footer') %>