<%- include('../partials/header') %> 
<p>Dependencies: <%= prop.dependencies %></p>
<p class="form"><%= prop.contents %></p>
<!-- <a href="/props/<%= prop.id %>" class="btn btn-primary">Details</a> -->
        <a href="/props/<%= prop.id %>/edit" class="btn btn-info">Edit</a>
        <form action="/props/<%=prop.id %>?_method=DELETE" method="POST" class="d-inline">
        <button type="submit" class="btn btn-danger">Delete</button></form>
        <!-- iterate over comments. If empty prompt with 'add comment' render all the comments from this prop.  -->
    <form class="comment-form" action="/props/<%=prop.id%>/comments" method="POST">
        <input name="content"> 
        <button type="submit">Comment</button>
    </form>
<% if (prop.comments.length) { %>
    <% prop.comments.forEach(function (c) { %>
        <div class="card">
            <div class="card-body comment-btn">
                <p><%= c.content %></p>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
   <% }) %>
<% } else { %>
    <h2>Add a comment</h2>
<% } %>
<%- include('../partials/footer') %>